[build]
  base = "client"
  publish = "client/dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "https://bukhari-academy-api.onrender.com/api/:splat"
  status = 200
  force = true

[context.production]
  command = "npm run build"

[context.deploy-preview]
  command = "npm run build"